In [33]:
#手元に音の実験のデータが有ったので試しに使ってみました

from sklearn.decomposition import TruncatedSVD
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 入力データ(A行列にあたる)
A = pd.read_csv('15816054_tachikawa.csv',index_col=0)
A.head()

,scale1,scale2,scale3,scale4,scale5,scale6,scale7,scale8,scale9,scale10,scale11,scale12,scale13,scale14,scale15
1,2,1,-1,-1,-2,-1,2,1,2,0,0,1,-1,-2,1
2,2,2,1,0,-1,1,-1,2,-1,1,-1,-1,1,0,-1
3,1,2,0,-1,-1,1,1,1,2,0,-1,1,-2,-1,-2
4,0,2,2,0,-2,1,-2,2,-1,1,-1,0,1,2,-2
5,2,0,1,-1,1,-1,1,2,1,2,0,1,-1,-1,0

In [34]:
from scipy.linalg import svd

#特異値分解を用いてAを行列成分に分解
U,sigma,VT=svd(A)

# U行列
pd.DataFrame(U).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.018903,-0.386276,0.353330,0.057594,-0.247234,-0.200903,-0.260320,0.305424,-0.183381,-0.101557,-0.017236,-0.168305,-0.057979,0.468688,0.119090,-0.209917,-0.200266,-0.014132,-0.159230,0.200581
1,-0.285550,0.088895,0.109954,-0.095226,-0.034225,-0.269954,-0.187445,-0.123184,0.286130,-0.664805,0.295835,0.009683,-0.038464,-0.068058,0.097896,0.256099,-0.094975,-0.095088,-0.061799,-0.224574
2,-0.157343,-0.160241,0.357920,0.338642,-0.350949,0.131924,0.387088,-0.038577,-0.141451,-0.147305,-0.082341,0.170602,-0.252735,-0.409033,-0.102341,-0.022692,0.140957,0.069901,-0.265247,-0.003472
3,-0.328798,0.293740,0.095574,0.042558,0.020345,-0.324733,0.087731,0.151726,0.168568,0.358825,0.321610,0.138100,-0.021823,-0.002480,0.031420,-0.338414,0.223360,-0.421575,-0.134407,0.129350
4,-0.055330,-0.166274,0.439449,-0.305067,0.124357,0.188964,0.070315,-0.353909,0.180791,-0.049923,0.016826,-0.006327,0.044021,0.132087,-0.468806,-0.362730,0.001013,-0.077182,0.289781,-0.074656

In [35]:
# Σ行列
pd.DataFrame(sigma).head()

           0
0  13.510215
1  10.260248
2   7.814846
3   5.883104
4   5.135503

In [37]:
#V^T　行列
pd.DataFrame(VT).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-0.334986,-0.488243,-0.349057,-0.134826,0.197118,-0.222549,0.051881,-0.309948,-0.195487,-0.087013,0.245918,0.154232,-0.223132,-0.277182,0.256073
1,-0.509174,-0.207167,0.074293,0.055097,-0.032347,0.281383,-0.426120,0.153994,-0.467394,0.257092,-0.111298,-0.072123,0.063764,0.185903,-0.250967
2,0.078287,-0.019760,-0.008145,-0.247840,-0.170583,-0.099252,-0.009411,0.455079,0.118003,0.503059,0.025047,0.371268,-0.385554,-0.327597,-0.156276
3,-0.174241,0.149337,-0.099506,0.139385,-0.327170,0.152367,-0.384496,-0.338562,0.355152,-0.298478,0.068170,0.046052,-0.230981,-0.298557,-0.401016
4,0.096762,0.056761,0.215645,0.498953,0.278561,-0.263666,-0.357150,-0.038778,0.079200,0.249633,0.518183,0.217230,0.172149,0.002646,0.042989

In [52]:
# Truncated (切り捨てるという意味)SVDで特異値分解と次元削減を行う
# n_componentsは削減後の次元数を表す
svd=TruncatedSVD(n_components=2)
svd.fit(A)
print(svd.transform(A))

[[ 0.25537809  3.96328817]
 [ 3.85784246 -0.91208672]
 [ 2.12574125  1.64411077]
 [ 4.44213058 -3.01384687]
 [ 0.7475206   1.70601406]
 [ 2.53974149  1.05224686]
 [ 3.61354513  1.90847378]
 [-2.65411854  3.59872857]
 [-1.91152854  2.16124713]
 [ 2.28297538  2.21412908]
 [ 5.48110005 -0.16367433]
 [ 3.74041374  0.35353435]
 [ 0.41503451  2.88085514]
 [ 4.54848101  1.23721809]
 [ 0.49263053 -3.16800759]
 [ 3.28583261  0.40471488]
 [ 3.2903499   2.01462789]
 [ 3.84774228  0.50227763]
 [-1.40637012  4.6797708 ]
 [-1.95103553 -0.6078057 ]]

In [49]:
# 寄与率
print(svd.explained_variance_ratio_)

[0.31056494 0.21826471]

In [50]:
# 累積寄与率
print(sum(svd.explained_variance_ratio_))

0.5288296478366228